body {
  display: flex;
  flex-direction: column;
  background-color: #64adae;
  font-family: 'Roboto Mono', monospace;
}

#header {
  display: flex;
  flex-direction: column;
}

#logo {
  margin: auto;
  padding: 1.5em;
  font-size: 2.5em;
  text-align: center;
  color: #fefefe;
}

nav {
  margin: auto;
  padding: 1em;
}

.nav-link {
  padding: 1em;
}

#line-break {
  height: 0.1em;
  background-color: #fefefe;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.question {
  margin: auto;
  font-size: 1.5em;
  padding: 1em;
  padding-top: 1.3em;
  text-align: center;
  color: #fefefe;
}

.answers {
  margin: auto;
  padding: 1em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: row;
}

.answer-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-choice button {
  position: relative;
  padding: 1.5em;
  margin: 0.3em;
  border: 2px dashed #fefefe;
  color: #fefefe;
  background-color: #548888;
  font-size: 1.5em;
}

.answer-choice button:hover {
  background-color: rgb(45, 108, 109);
}

.answer-choice button:focus {
  background-color: rgb(31, 86, 87);
}

.next-button {
  /* padding: 0.05em 0.5em 0.05em 0.5em; */
  margin: auto;
  color: #fefefe;
  background-color: #699f9f;
  border: 2px dashed #fefefe;
  border-radius: 5px;
  font-size: 3em;
}

.next-button:hover {
  background-color: rgb(31, 86, 87);
}

.next-button:focus {
  background-color: rgb(31, 86, 87);
}
.counter {
  margin: auto;
  padding-top: 1em;
  color: #fefefe;
}

.answer-label {
  color: #fefefe;
}

.result {
  margin: auto;
  padding: 1.5em;
  font-size: 2.5em;
  text-align: center;
  color: #80c4c3;
}
