body {
  display: flex;
  flex-direction: column;
  background-color: #e7e4e8;
  font-family: 'Roboto Mono', monospace;
}

#header {
  display: flex;
  flex-direction: column;
}

#logo {
  margin: auto;
  padding: 1.5em;
  font-size: 2.5em;
  text-align: center;
  color: #cc667b;
}

nav {
  margin: auto;
  padding: 1em;
}

.nav-link {
  padding: 1em;
}

#line-break {
  height: 0.1em;
  background-color: #cc667b;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.question {
  margin: auto;
  font-size: 1.5em;
  padding: 1em;
  padding-top: 2em;
  text-align: center;
  color: #cc667b
}

.answers {
  margin: auto;
  padding: 1em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: row;
}

.answer-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-choice button {
  position: relative;
  padding: 1.5em;
  margin: 0.3em;
  border: 2px dashed #cc667b;
  color: #cc667b;
  background-color: #e7e4e8;
  font-size: 1.5em;
}

.answer-choice button:hover {
  background-color: #cc667b;
  color: #e7e4e8;
  border: 2px dashed #e7e4e8;
}

.answer-choice button:focus {
  background-color: #cc667b;
  color: #e7e4e8;
  border: 2px dashed #e7e4e8;
}

.next-button {
  padding: 0.5em;
  margin: auto;
  color: #e7e4e8;
  background-color: #cc667b;
  border: 2px dashed #e7e4e8;
  border-radius: 5px;
  font-size: 1em;
}

.next-button:focus {
  background-color: #e7e4e8;
  color: #cc667b;
  border: 2px dashed #cc667b;
}
.counter {
  margin: auto;
  padding-top: 1em;
  color: #cc667b;
}

.answer-label {
  color: #cc667b;
}

.result {
  margin: auto;
  padding: 1.5em;
  font-size: 2.5em;
  text-align: center;
  color: #cc667b;
}
